/* Asegura buena separación */
.mb-4 {
  margin-bottom: 1.5rem !important;
}

/* Imagen de perfil */
.profile-img {
  border: 3px solid #fff;
}

/* Detalles del perfil */
.list-group-item {
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
}
.button-profile {
  position: relative;
  display: inline-block;
}

.button-profile label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.button-profile:hover label {
  
  opacity: 1;
  pointer-events: auto;
}
.button-profile:hover img {
  opacity: 0.5;
}
/* Títulos */
/* Sección del encabezado de perfil */
.benefits-section {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #1a365d 0%, #2a4b5e 100%);
  color: white;
  border-radius: 10px;
  overflow: hidden;
}

/* Opcional: ajustar el tamaño del texto en el header */
.card-header h2 {
  font-weight: 600;
}
