<div *ngIf="!isLoading">
  <div class="container my-5 py-5" *ngIf="user">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Card de Encabezado de Perfil -->
        <app-card-hover>
          <div class="card benefits-section text-center">
            <div class="card-header bg-gradient-primary py-4">
              <h2 class="mb-1" style="font-size: 1.5rem;">
                {{ user.persona?.nombres }} {{ user.persona?.a_p }} {{ user.persona?.a_m }}
              </h2>
              <small>{{ user.email }}</small>
            </div>
            <div class="card-body position-relative">
              <button class="btn btn-link p-0 border-0 button-profile" (click)="openModalFoto()">
                <img [src]="user.foto_perfil ? user.foto_perfil : '/assets/foto_default.png'" alt="Foto de Perfil"
                  class="rounded-circle mb-3 profile-img" style="width: 120px; height: 120px; object-fit: cover;">
                <label for="profilePicture" class="text-white">
                  <i class="fas fa-camera"></i>
                </label>
              </button>
              <p class="mb-1">
                <strong>Email:</strong> {{ user.email }}
                <button class="btn btn-sm btn-outline-success ms-2" (click)="verifyEmail()" *ngIf="!user.is_active">
                  <i class="fas fa-check"></i> Verificar
                </button>
              </p>
              <!-- Mensaje de la api-->
              <div *ngIf="errorMessage2" class="alert alert-danger mt-2">
                {{ errorMessage2 }}
              </div>
              <!-- Mensaje de успexo-->
              <div *ngIf="successMessage2" class="alert alert-success mt-2">
                {{ successMessage2 }}
              </div>

            </div>
          </div>
        </app-card-hover>

        <!-- Card de Detalles del Perfil -->
        <app-card-hover>
          <div class="card benefits-section text-center">
            <h4 class="card-title mb-3 my-2">Detalles del Perfil</h4>
            <ul class="list-group list-group-flush">
              <li class="my-3">
                <i class="fas fa-user me-2"></i>
                <strong>Usuario:</strong> {{ user.usuario_nom }}
              </li>
              <li class="my-3">
                <i class="fas fa-phone me-2"></i>
                <strong>Teléfono:</strong> {{ user.persona?.telefono }}
              </li>
            </ul>
          </div>
        </app-card-hover>

        <!-- Acciones del Perfil -->
        <div class="d-flex justify-content-center mb-4">
          <button class="btn btn-primary me-2" (click)="openModalPerfil()">Editar Perfil</button>
          <button class="btn btn-secondary" (click)="openModalContrasena()">Cambiar Contraseña</button>
        </div>
      </div>
    </div>

    <!-- Modal para Editar Perfil -->
    <app-modal *ngIf="isModalOpenPerfil" title="Editar Perfil" (close)="closeModal()" (save)="saveModal()"
      [disableSave]="!profileForm.valid">
      <form [formGroup]="profileForm">
        <!-- Nombre de Usuario -->
        <div class="mb-3">
          <label for="usuario_nom" class="form-label">Nombre de Usuario</label>
          <input type="text" class="form-control" id="usuario_nom" placeholder="Ingrese nombre de usuario"
            formControlName="usuario_nom" />
          <div *ngIf="profileForm.get('usuario_nom')?.touched && profileForm.get('usuario_nom')?.invalid"
            class="text-danger">
            El nombre de usuario es requerido.
          </div>
        </div>
        <!-- Nombres y Apellidos -->
        <div class="row">
          <div class="mb-3 col-md-12">
            <label for="nombres" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombres" placeholder="Ingrese su nombre"
              formControlName="nombres" />
            <div *ngIf="profileForm.get('nombres')?.touched && profileForm.get('nombres')?.invalid" class="text-danger">
              El nombre es requerido.
            </div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" id="apellidoPaterno" placeholder="Ingrese apellido paterno"
              formControlName="apellidoPaterno" />
            <div *ngIf="profileForm.get('apellidoPaterno')?.touched && profileForm.get('apellidoPaterno')?.invalid"
              class="text-danger">
              El apellido paterno es requerido.
            </div>
          </div>
          <div class="mb-3 col-md-6">
            <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" id="apellidoMaterno" placeholder="Ingrese apellido materno"
              formControlName="apellidoMaterno" />
            <div *ngIf="profileForm.get('apellidoMaterno')?.touched && profileForm.get('apellidoMaterno')?.invalid"
              class="text-danger">
              El apellido materno es requerido.
            </div>
          </div>
        </div>
        <!-- Teléfono -->
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="telefono" placeholder="Ingrese teléfono"
            formControlName="telefono" />
          <div *ngIf="profileForm.get('telefono')?.touched && profileForm.get('telefono')?.invalid" class="text-danger">
            El teléfono es requerido.
          </div>
        </div>
        <!-- Mensaje de éxito -->
        <div *ngIf="successMessage" class="alert alert-success mt-2 fade show">
          {{ successMessage }}
        </div>
        <!-- Mensaje de error proveniente de la API -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </form>
    </app-modal>

    <!-- Modal para Cambiar Contraseña -->
    <app-modal *ngIf="isModalOpenContrasena" title="Cambiar Contraseña" (close)="closeModal()" (save)="saveModal()"
      [disableSave]="!passwordForm.valid">
      <form [formGroup]="passwordForm">
        <div class="mb-3">
          <label for="currentPassword" class="form-label">Contraseña Actual</label>
          <input type="password" class="form-control" id="currentPassword" placeholder="Ingrese su contraseña actual"
            formControlName="currentPassword" />
          <div *ngIf="passwordForm.get('currentPassword')?.touched && passwordForm.get('currentPassword')?.invalid"
            class="text-danger">
            La contraseña actual es requerida.
          </div>
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label">Nueva Contraseña</label>
          <input type="password" class="form-control" id="newPassword" placeholder="Ingrese la nueva contraseña"
            formControlName="newPassword" />
          <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid"
            class="text-danger">
            La nueva contraseña es requerida y debe tener al menos 6 caracteres.
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Confirme la nueva contraseña"
            formControlName="confirmPassword" />
          <div
            *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.hasError('mismatch')"
            class="text-danger">
            Las contraseñas no coinciden.
          </div>
        </div>
        <!-- Mensaje de éxito -->
        <div *ngIf="successMessage" class="alert alert-success mt-2 fade show">
          {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-2 fade show">
          {{ errorMessage }}
        </div>
      </form>
    </app-modal>

    <!-- Modal para Cambiar Foto de Perfil -->
    <app-modal *ngIf="isModalOpenModalFoto" title="Cambiar Foto de Perfil" (close)="closeModal()" (save)="saveModal()">
      <form>
        <div class="mb-3 text-center">
          <div class="position-relative d-inline-block">
            <img [src]="user.foto_perfil ? user.foto_perfil : '/assets/foto_default.png'" alt="Foto de Perfil"
              class="rounded-circle profile-img" style="width: 120px; height: 120px; object-fit: cover;">
          </div>
        </div>
        <div class="mb-3">
          <label for="profilePicture" class="form-label">Seleccionar Foto de Perfil</label>
          <input type="file" class="form-control" id="profilePicture" />
        </div>
        <!-- Mensaje de éxito -->
        <div *ngIf="successMessage" class="alert alert-success mt-2 fade show">
          {{ successMessage }}
        </div>
        <!-- Mensaje de error proveniente de la API -->
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
      </form>
    </app-modal>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;" *ngIf="isLoading">
  <app-loading-skeleton></app-loading-skeleton>
</div>