<div [id]="carouselId" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <button *ngFor="let image of images; let i = index" type="button" [attr.data-bs-target]="'#' + carouselId"
            [attr.data-bs-slide-to]="i" [ngClass]="{'active': i === 0}" [attr.aria-current]="i === 0 ? 'true' : null"
            [attr.aria-label]="'Slide ' + (i + 1)">
        </button>
    </div>

    <!-- Imágenes del carrusel -->
    <div class="carousel-inner">
        <div *ngFor="let image of images; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
            <img [src]="image.src" class="d-block w-100" [alt]="image.alt || 'Imagen del carrusel'"
                [style.height]="height">
        </div>
    </div>


</div>