
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Header del Dashboard */
.dashboard-header {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}
.dashboard-header h1 {
  font-size: 2.5rem;
  margin: 0;
}
.dashboard-header p.lead {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Tarjetas de Estadísticas */

.card-stat i {
  font-size: 2rem;
  color: #007bff;
}

/* Encabezados de las tarjetas */
.card-header {
  font-size: 1.2rem;
  text-align: center;
}