<footer class="text-center text-dark shadow custom-footer">
    <div class="container py-3">
      <div class="link-list">
        <app-link url="/home">Inicio</app-link>
        <app-link url="/perfil">Perfil</app-link>
        <app-link url="/tinaco">Tinacon</app-link>
       
      </div>
    </div>
    <div class="footer-bottom text-center text-dark">
      © 2021 Integradora Angular Tinacon:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
  