<footer class="text-center text-dark shadow custom-footer">
    <div class="container py-3">
      <div class="link-list">
        <a href="#!" role="button">Tinaco</a>
        <a href="#!" role="button">Graficas</a>
        <a href="#!" role="button">Perfil</a>
        <a href="#!" role="button">Contacto</a>
        <a href="#!" role="button">Help</a>
      </div>
    </div>
    <div class="footer-bottom text-center text-dark">
      © 2021 Integradora Angular Tinacon:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
  