<main style="margin-top: 58px;">
  <div class="container p-3">
    <!-- Header del Dashboard -->
    <app-header>
      <h1>Dashboard de Notificaciones</h1>
      <p class="lead">Gestiona y envía notificaciones a tus usuarios</p>
    </app-header>
    <!-- Tarjeta del formulario -->
    <div class="card shadow-lg ">
      <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Crear Notificación</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)="enviarNotificacion()" [formGroup]="notificacionForm">
          <div class="mb-3">
            <label class="form-label fw-bold">Título</label>
            <input type="text" class="form-control" name="title" placeholder="Escribe el título"
              formControlName="title">
            <div *ngIf="notificacionForm.get('title')?.touched" class="text-danger small" style="min-height: 1.2em;">
              <small *ngIf="notificacionForm.get('title')?.errors?.['required']">El título es obligatorio.</small>
              <small *ngIf="notificacionForm.get('title')?.errors?.['minlength']">El título debe tener al menos 3
                caracteres.</small>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Mensaje</label>
            <textarea class="form-control" name="mesaje" placeholder="Escribe el mensaje"
              formControlName="mesaje"></textarea>
            <div *ngIf="notificacionForm.get('mesaje')?.touched" class="text-danger small" style="min-height: 1.2em;">
              <small *ngIf="notificacionForm.get('mesaje')?.errors?.['required']">El mensaje es obligatorio.</small>
              <small *ngIf="notificacionForm.get('mesaje')?.errors?.['minlength']">El mensaje debe tener al menos 3
                caracteres.</small>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label fw-bold">Tipo</label>
            <select class="form-select" name="type" formControlName="type">
              <option value="" disabled selected>Seleccione un tipo</option>
              <option value="success">Éxito</option>
              <option value="info">Información</option>
              <option value="warning">Advertencia</option>
              <option value="alert">Alerta</option>
            </select>
            <div *ngIf="notificacionForm.get('type')?.touched" class="text-danger small" style="min-height: 1.2em;">
              <small *ngIf="notificacionForm.get('type')?.errors?.['required']">El tipo es obligatorio.</small>
            </div>
          </div>

          <!-- Mensaje de error proveniente de la API -->
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>

          <!-- Mensaje de éxito -->
          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-dark" [disabled]="notificacionForm.invalid" >Enviar Notificación</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</main>