<!-- Sección Hero con Carrusel -->
<main class="py-5 hero-section">
  <div class="container text-center text-white hero-content ">
    <h1 class="display-4 font-weight-bold">Integradora Angular Tinacon</h1>
    <p class="lead">
      Monitoreo avanzado de tinacos para una gestión eficiente del agua.
    </p>
    <a routerLink="/info" class="btn btn-primary btn-lg mt-3">Conoce más</a>
  </div>

  <!-- Componente Carrusel -->
  <app-carousel [images]="[
      { src: 'assets/imagen1.jpg', alt: 'Monitoreo de tinacos 1' },
      { src: 'assets/imagen2.jpg', alt: 'Monitoreo de tinacos 2' },
      { src: 'assets/imagen3.jpg', alt: 'Monitoreo de tinacos 3' }
    ]" carouselId="carouselExampleIndicators" height="700px">
  </app-carousel>
</main>


<!-- Sección de Características -->
<section id="features" class="py-5 features-section">
  <div class="container">
    <div class="display-4 font-weight-bold  text-center ">
      <h2 class="mb-4">Características</h2>
    </div>
    <app-rectangle-rows [features]="features"></app-rectangle-rows>





  </div>
</section>
<app-parallax
  [backgroundImage]="'https://www.elfinanciero.com.mx/resizer/v2/RFJBUHMRAZDMFJU76WRMDLF6AY.jpg?smart=true&auth=3ae4dfd3f693b7be1d1762ed436a44a4cb31d9ec51c5c920683d7b17fc2c350d&width=800&'">
  <h2 class="mb-3">🔍 Monitoreo Inteligente de Tinacos</h2>
  <p class="lead">Optimiza el uso del agua en tu hogar o empresa con tecnología avanzada.</p>

  <div class="features">
    <div class="feature-item">
      <i class="fas fa-water"></i>
      <p>Controla el nivel del agua en tiempo real.</p>
    </div>
    <div class="feature-item">
      <i class="fas fa-bell"></i>
      <p>Recibe alertas cuando el tinaco esté bajo o lleno.</p>
    </div>
  </div>

  <div class="button-group mt-4">
    <a routerLink="/info" class="btn btn-primary">Más Información</a>
  </div>


</app-parallax>