<app-nav></app-nav> <!-- Navbar -->

<!-- Sección Hero -->
<main class=" py-5 hero-section">
  <div class="container text-center text-white">
    <h1 class="display-4 font-weight-bold">Integradora Angular Tinacon</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus labore perferendis. Quisquam, quae.
    </p>
    <a href="#features" class="btn btn-primary btn-lg mt-3">Conoce más</a>
  </div>
</main>

<!-- Sección de Características -->
<section id="features" class="py-5 features-section">
  <div class="container">
    <!---che dante, hice un componente ngFOR que se llama rectangle-rows para que no tengas que repetir este codigo 20 veces
    los datos que le doy estan en -->
    <app-rectangle-rows [features]="features"></app-rectangle-rows>

  </div>
</section>

<app-footer></app-footer>
