/* Header del Dashboard */
.dashboard-header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 40px;
}

.dashboard-header h1 {
    margin: 0;
    font-size: 2rem;
}

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}