<!-- Sección de Información del Tinaco Inteligente -->
<section class="info-section">
  <div class="container py-5">
    <app-breadcrumb></app-breadcrumb>
    <div class="text-center mb-5">
      <h2 class="display-5">Tinaco Inteligente</h2>
      <p class="lead text-muted">
        Optimiza el uso y control del agua en tu hogar o empresa con tecnología avanzada y monitoreo en tiempo real.
      </p>
    </div>

    <app-rectangle-rows [features]="features"></app-rectangle-rows>

    <div class="text-center mt-5">
      <h2 class="display-5">Equipo de Desarrollo</h2>
      <p class="lead text-muted">
        Nuestro equipo de desarrollo esta compuesto por expertos en tecnología avanzada y monitoreo de tinacos.
      </p>
    </div>
    <div class="text-center mt-5">
      <h2 class="display-5">Sensores</h2>
      <p class="lead text-muted">
        Utilizamos sensores de alta calidad para medir el nivel del agua en tu tinaco.
      </p>
    </div>
    <div class="text-center mt-5">
      <h2 class="display-5">Producto final</h2>
      <p class="lead text-muted">
        Nuestro producto final ofrece una solución eficiente para el monitoreo y control del agua en tu hogar o empresa.
      </p>
    </div>
  </div>
</section>