<section class="py-5">
  <!-- Sección de Beneficios -->
  <div class="benefits-section py-5 bg-gradient-primary">
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-6 mb-3 fw-bold">Transforma tu Gestión del Agua</h2>
          <p class="lead">La revolución tecnológica para un recurso vital</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5 my-5" *ngIf="!isLoading">
    <ng-container *ngIf="tinacos.length > 0; else noTinacos">
      <app-rectangle-rows [features]="tinacos"></app-rectangle-rows>
    </ng-container>
    <ng-template #noTinacos>
      <div class="text-center text-muted fs-4">
        <i class="fa-regular fa-face-meh-blank fa-2x mb-3"></i>
        <p>No se encontraron tinacons</p>

      </div>
    </ng-template>
  </div>

  <div class="container justify-content-center d-flex py-5 my-5 p-5" *ngIf="isLoading">
    <app-loading-skeleton></app-loading-skeleton>
  </div>
</section>