@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}


.cards .red {
  background-color: #f43f5e;
}

.cards .blue {
  background-color: #3b82f6;
}

.cards .green {
  background-color: #22c55e;
}

.cards .yellow {
  background-color: #f59e0b;
}

.cards .orange {
  background-color: #f97316;
}

.cards .purple {
  background-color: #8b5cf6;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 250px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
}

.cards:hover>.card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.card a {
  text-decoration: none;
  /* Elimina el subrayado */
  color: inherit;
  /* Hereda el color del texto del elemento padre */
  display: block;
  /* Asegura que el enlace ocupe todo el espacio de la tarjeta */
}

.card a:hover {
  color: inherit;
  /* Evita que cambie el color en hover */
  text-decoration: none;
  /* Asegura que no se subraye en hover */
}