section {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f8f9fa; /* Opcional: color de fondo */
  }
  