<main style="margin-top: 58px;">
    <div class="container p-3">

        <!-- Header -->
        <app-header>
            <h1>Gestión de Usuarios</h1>
            <p class="lead">Supervisa, gestiona y analiza toda la información de tus usuarios en tiempo real.</p>
        </app-header>
        <div class="container my-4" *ngIf="!isLoading">

            <!-- Tarjetas de Estadísticas -->
            <div class="row g-4">
                <app-card-hover class="col-md-4">
                    <div class="card card-stat text-center">
                        <div class="card-body">
                            <i class="fas fa-users"></i>
                            <h5 class="card-title mt-2">Total de Usuarios</h5>
                            <p class="card-text display-4">{{ informacionesUser?.totalUsers }}</p>
                        </div>
                    </div>
                </app-card-hover>
                <app-card-hover class="col-md-4">
                    <div class="card card-stat text-center">
                        <div class="card-body">
                            <i class="fas fa-user-shield"></i>
                            <h5 class="card-title mt-2">Administradores</h5>
                            <p class="card-text display-4">{{ informacionesUser?.adminUsers }}</p>
                        </div>
                    </div>
                </app-card-hover>
                <app-card-hover class="col-md-4">
                    <div class="card card-stat text-center">
                        <div class="card-body">
                            <i class="fas fa-user"></i>
                            <h5 class="card-title mt-2">Usuarios</h5>
                            <p class="card-text display-4">{{ informacionesUser?.userUsers }}</p>
                        </div>
                    </div>
                </app-card-hover>
            </div>

            <!-- Tabla de Usuarios -->
            <div class="card mt-4">
                <div class="card-header bg-dark text-white">
                    Lista de Usuarios
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Rol</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.usuario_nom }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.rol }}</td>
                                    <td class="text-center">
                                        <span *ngIf="user.is_Inactive" class="badge bg-success">Activo</span>
                                        <span *ngIf="!user.is_Inactive" class="badge bg-danger">Inactivo</span>
                                    </td>
                                    <td class="text-center d-flex justify-content-center">
                                        <button class="btn btn-sm btn-outline-primary me-2 w-50"
                                            (click)="openModalEditRol(user)">
                                            Editar rol
                                        </button>
                                        <button (click)="toggleUserState(user)"
                                            class="btn btn-sm btn-outline-danger w-50" *ngIf="user.is_Inactive">
                                            Deshabilitar
                                        </button>
                                        <button (click)="toggleUserStateActive(user)"
                                            class="btn btn-sm btn-outline-success w-50" *ngIf="!user.is_Inactive">
                                            Habilitar
                                        </button>
                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Controles de paginación -->
                    <nav aria-label="Navegación de páginas" *ngIf="totalPages > 1">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" [class.disabled]="currentPage === 1">
                                <a class="page-link" (click)="loadUsers(currentPage - 1)" aria-label="Anterior"
                                    [attr.tabindex]="currentPage === 1 ? '-1' : '0'">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
                                <a class="page-link" (click)="loadUsers(page)">{{ page }}</a>
                            </li>
                            <li class="page-item" [class.disabled]="currentPage === totalPages">
                                <a class="page-link" (click)="loadUsers(currentPage + 1)" aria-label="Siguiente"
                                    [attr.tabindex]="currentPage === totalPages ? '-1' : '0'">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>


                </div>
            </div>

        </div>
        <div class="container justify-content-center d-flex py-5 my-5 p-5" *ngIf="isLoading">
            <app-loading-skeleton></app-loading-skeleton>
        </div>
    </div>

    <app-modal *ngIf="isModalOpenEditRol" title="Formulario de Usuario" (close)="closeModal()" (save)="saveModal()">
        <div class="mb-3">
            <label for="editRol" class="form-label">Rol:</label>
            <select class="form-select" id="editRol" [(ngModel)]="rolesSelected" name="editRol"
                [disabled]="usuariEditar?.rol === 'admin'" (change)="validarCambioRol()">
                <option *ngFor="let role of roles" [value]="role">
                    {{ role }}
                </option>
            </select>
            <!-- Mensaje de la api-->
            <div *ngIf="errorMessage" class="alert alert-danger mt-2">
                {{ errorMessage }}
            </div>
            <!-- Mensaje de успexo-->
            <div *ngIf="successMessage" class="alert alert-success mt-2">
                {{ successMessage }}
            </div>
        </div>

        <!-- Mensaje de advertencia si el usuario ya es admin -->
        <div *ngIf="usuariEditar?.rol === 'Admin'" class="alert alert-warning mt-2">
            <strong>Atención:</strong> No puedes cambiar el rol de un administrador.
        </div>
    </app-modal>


</main>