<div class="benefits-section py-5 bg-gradient-primary " > 
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-lg-8 text-center mb-5">
          <!--<h2 class="display-4 mb-3">{{titulo}}</h2>
          <p class="lead">{{mensaje}}</p>-->
        </div>
      </div>
      
      <div class="row g-4">
        
        <app-mini-card>
            "titulo": "Seguridad Garantizada",
            "mensaje": "Protección continua contra contaminación y fallos en el suministro"
        </app-mini-card>
        <app-mini-card>
            "titulo": "Seguridad Garantizada",
            "mensaje": "Protección continua contra contaminación y fallos en el suministro"
        </app-mini-card>
        <app-mini-card>
            "titulo": "Seguridad Garantizada",
            "mensaje": "Protección continua contra contaminación y fallos en el suministro"
        </app-mini-card>
      </div>
    </div>
  </div>