<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white shadow fixed-top">
  <div class="container">
    <!-- Marca a la izquierda -->
    <a class="navbar-brand" routerLink="/home">
      <img class="me-2 rounded-circle" src="https://play-lh.googleusercontent.com/aSd25YT3Xa3h0y4SfLHpvQPeG6u7lJAKJZzCpHcQUTrYKDl4LOv73BzkTbGKKYyTCug" alt="Angular" height="40">
    </a>

    <!-- Botón de colapso (para móviles) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces centrados -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/tinaco" class="nav-link">Tinacon</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
      </ul>
    </div>

    <!-- Menú de usuario a la derecha -->
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
          role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="30" alt="Avatar">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/perfil">Tu cuenta</a></li>
          <li><a class="dropdown-item" routerLink="/notificaciones">Notificaciones</a></li>

          <li><a class="dropdown-item" routerLink="/configuraciones">Configuraciones</a></li>

          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/cerrar-sesion">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
