
.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.water-level-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .water-level {
    position: absolute;
    left: 0;
    width: 20px; /* Ancho de la barra */
    bottom: 0;
    transition: height 0.5s ease-in-out;
  }