/* You can add global styles to this file, and also import other style files */
/* Asegura que html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Usa Flexbox para estructurar la página */
  body {
    display: flex;
    flex-direction: column;
  }
  .main {
    /* Asumimos que el navbar tiene una altura aproximada de 70px */
    flex: 1;
    padding-top: 80px;
  }
  
  
  /* Estilos personalizados para el footer */
  .custom-footer {
    background: linear-gradient(45deg, #f8f9fa, #e9ecef);
    border-top: 1px solid #dee2e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Estilos para los enlaces del footer */
  .custom-footer .link-list a {
    color: #343a40;
    font-weight: 500;
    margin: 0 10px;
    transition: color 0.3s, text-decoration 0.3s;
  }
  .custom-footer .link-list a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  
  /* Estilos para la sección inferior del footer */
  .footer-bottom {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.75rem 0;
    font-size: 0.9rem;
  }
  