@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}
.list-group-item {
    background-color: #f8f9fa;
    border-left: 5px solid; /* El color se actualizará dinámicamente */
    transition: transform 0.2s ease-in-out;
}

.list-group-item:hover {
    transform: scale(1.03);
    background-color: #e9ecef;
}
